<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% stylesheets
    'bundles/socsoc/css/bootstrap.css'
    'bundles/socsoc/font-awesome/css/font-awesome.css'
    'bundles/socsoc/css/animate.css'
    'bundles/socsoc/css/style.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %}
    {% endblock %}
</head>
<body>

{% block body %}
<p>Hello world!</p>
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@SOCSocBundle/Resources/public/js/jquery-1.10.2.js'
    '@SOCSocBundle/Resources/public/js/bootstrap.js'
    '@SOCSocBundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
    '@SOCSocBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>