<h3 class="username">{{ username|title }}</h3>
<table class="table table-striped table-header-rotated">
    <thead>
        <tr>
            <th>#</th>
            <th class="">Spieler</th>
            <th class="rotate-45"><div><span>Elf des Tages</span></div></th>
            <th class="rotate-45"><div><span>Note</span></div></th>
            <th class="rotate-45"><div><span>Assists</span></div></th>
            <th class="rotate-45"><div><span>Tor</span></div></th>
            <th class="rotate-45"><div><span>Gegentor</span></div></th>
            <th class="rotate-45"><div><span>Rot/Gelb-Rot</span></div></th>
            <th class="rotate-45"><div><span>Auf dem Platz</span></div></th>
        </tr>
    </thead>
    <tbody>
        {% for player in lineup.players %}
        <tr>
            <td>{{ loop.index }}</td>
            <td class="player-name">{{ player.name }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
    {% if lineup['lineup'] is defined %}
    <tfoot>
        <tr>
            <td colspan="9">{{ lineup['lineup'].updated|date("d.m.Y / H:i:s") }}</td>
        </tr>
    </tfoot>
    {% endif %}
</table>