<stylesheet>

    <page color="#676A6C" font-size="9pt" />

    <h3 color="#676A6C" font-size="12pt" />
    <table border-color="#dddddd">
        <tr class="bg-light" background-color="#F9F9F9" />
        <tr class="bg-dark" background-color="#666666" />
        <tr class="tb-footer" font-size="6pt" />

        <td class="player-name" width="25mm" />
        <td padding="2mm" border-color="#f3f3f3" />
        <td class="col-header" vertical-align="bottom" />

    </table>
</stylesheet>