{% extends 'SOCSocBundle::layout.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">

            <a href="{{ path("soc_lutz_index", { '_format': 'html', 'slug' : 'test' }) }}">LINK</a>

        </div>
    </div>

{% endblock %}