{% extends 'SOCSocBundle::layout.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">

            Hello {{ name }}!

        </div>
    </div>

{% endblock %}